.app {
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@200;500&family=Rubik&display=swap');
    font-family: 'Open Sans', sans-serif;
    color: #eeeeee;
    text-align: center;
}

button {
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 12px;
    font-size: 6vmin;
    background: #ff6a3d;
    cursor: pointer;
    color: #1a2238;
    margin: 8px;
}

